<h3>Home</h3>


Welcome <%= current_user %>
<ul>
<% User.all.each do |user| %>
	<li> <%= user.name %>
	<ul>
		<% if user.has_role?("admin") %>
			<li>Has Role </li>
		<% else %>
			<li>No Role</li>
		<% end %>
		<% user.roles.each do |role| %> 
			<li><%= role[:name] %></li>
		<% end %>
		</ul>
	</li>
<% end %>
</ul>
