<% content_for :title do %>
Add New Faction
<% end %>
<div class="row">
	<div class="span12">
		<%= link_to 'Factions', Faction %> > New Caster
	</div>
</div>

<h3>Add New Faction</h3>
<%= render 'form' %>
