<ul>
    <li><%= link_to 'Steamroller Rules', page_path('2014/standard') %></li>
    <li><%= link_to 'Appendix', page_path('2014/appendix') %></li>
    <li><%= link_to 'Refrence Sheet', page_path('2014/standard-refrence') %></li>
</ul>
