<% content_for :title do %>
Steamroller 2014 Standard Appendix
<% end %>

<div class="row">
	<div class="span12">
        <%= link_to 'Steamroller 2014', page_path('2014/standard') %> > Steamroller 2014 Standard Appendix
	</div>
</div>
<div class="row">
    <div class="span2">
          <%= render 'pages/2014/navigation' %>
    </div>
    <div class="span10">
            <h4>Official Warmachine and Hordes Tournament Variants</h4>
            Steamroller 2014 (SR2014) provides an official format for Event Organizers (EOs) of WARMACHINE and HORDES events. We realize that not all communities are the same, so we have compiled this appendix to provide official variants to specific areas of the SR2014 document.
            These variants can be used to alter a single rule, or they can be combined to form a more casual or competitive format based on the preferences of the players, the needs of the venue, or event time constraints. Any combination of variants chosen from this document constitutes an official SR2014 tournament format.
            Variant rules are available for the following sections of the SR2014 rules:
            <ol>
                <li>Army Lists</li>
                <li>Painting</li>
                <li>Number of Rounds</li>
                <li>Game Timing</li>
                <li>Scenarios</li>
                <li>Victory</li>
                <li>Final Standings</li>
            </ol>
            <h4>Using Variants</h4>
            This document revisits several rules areas of the SR2014 document. In each case, a review of the baseline version of the rule is listed first, followed by variant keyword(s) and the description of the variant(s). Not all sections of the SR2014 rules document have variant options. For example, players must always practice good sportsmanship, so no variants are available for the sportsmanship parameters set forth in the baseline SR2014 rules.
            SR2014 variants make it easy for EOs to tailor events to the needs of player communities. By using the appropriate variant keywords, players can reference this document for details, which will help keep pre-tournament announcements concise.
            <h5>1. army list variants</h5>
            <strong>BASELINE - </strong>Second list is optional. All lists are subject to the same point constraints and must be led by warcasters or warlocks from the same faction. Players cannot include the same version of a model or unit with FA C in more than one list.
            <strong>[X] List(s) Required – Players must bring exactly X army lists and must play each army list at least once during the event. Battlegroup Only - </strong>Army lists contain only battlegroup models and independent warjacks or warbeasts.
            <strong>Characters Unrestricted - </strong>Models and units with FA C can be included in more than one list.
            
            <strong>Commander’s Crucible [X] - </strong>The event consists of X rounds, and Theme Forces cannot be used. Players select a faction, pact, or contract and construct a number of battlegroup lists, each consisting of one warcaster or warlock, the warjacks or warbeasts in his or her battlegroup, and any models attached to his or her warcaster or warlock. The number of battlegroup lists required is equal to the number of rounds in the event minus one. 
            Players also construct a single support list containing units, solos, battle engines, and warjacks/warbeasts that are not part of a warcaster/warlock’s battlegroup. This support list is combined with a battlegroup list to create the player’s army list each round. Battlegroup and support list combinations cannot exceed the point size of the event and cannot fall more than 10 points under that point size (including warjack/ warbeast points). 
            This variant can be used only at events with a point size of 35 or greater. Point limits for the battlegroup and support list(s) are defined in the table below
            
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Event Point Size</th>
                    <th>Battlegroup List</th>
                    <th>Support List</th>
                </tr>
                <tr>
                    <td>35</td>
                    <td>20 to 35 points</td>
                    <td>0 to 15 points</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>25 to 50 points</td>
                    <td>0 to 25 points</td>
                </tr>
            </table> 
             
            During the list selection phase, each player secretly chooses a battlegroup (represented by its corresponding warcaster/ warlock card) to combine with their support list. Each battlegroup must be played at least once during the event. 
            <strong>Divide and Conquer [X] - </strong>Each list must be played at least X times during the tournament. The goal of this variant is to challenge players to use their lists equally prior to the final round so that a list decision is available. If this goal is not achievable based on the expected number of rounds, Divide and Conquer is not recommended.
            <strong>Specialists - </strong>Players can add a supplementary list of models/ units (specialists) to each of their army lists. Specialist model/unit lists are completely optional but cannot exceed the totals listed in the table below. These models are not used unless a player decides to substitute them for models/units in the corresponding base army list in accordance with the 
            specialist rules. 
            
            <strong>Specialist Point Values</strong>
            
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Game Size</th>
                    <th>Army Points for Specialists</th>
                </tr>
                <tr>
                    <td>25</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>25</td>
                </tr>
            </table>
            
            Specialists must be listed separately for each army list and must follow all field allowance rules that apply to regular models/units. Specialist selections must be models/units with a separate physical copy of a card from models/units in the corresponding main list. For example, listing the point cost required to increase a minimum unit in a list to a maximum unit by the addition of specialists is not permitted. Listing a unit attachment or weapon attachment to add to the minimum unit in the main list is permitted, however, because these models have a separate physical card that is not already in the main list and does not exceed FA. 
            
            The same rules apply for the removal of models ina list to facilitate the additiona of speicalists. Removal must be card-bassed and cannor be acomplished by point reductions (such as removal of models from a maximum unit) or changing of point cost options (such as the use of a dismounted Man-O-War Drakun).
            
            Specialists must follow the restrictions of any Theme Force to which they are added. A Theme Force’s established tier level cannot be lowered via substitutions and will not be increased as a result of substitutions even if higher tier requirements are met. The models and units that satisfy the army list’s established tier requirements must be identified, and they can be replaced only with specialist models that fulfill the same tier requirement. Specialist models benefit from all point cost reductions and FA exceptions during list construction and from all in-game bonuses when substituted into a list. Free models granted by a Theme Force bonus cannot be substituted for specialist models. All relationships determined by the player (attached, marshaled, etc.) must be clearly identified for specialist models and units.
            
            After list selection is complete both players simultaneously reveal the card(s) of models to be removed from and added to each player’s selected list for the game. Specialist substitutions cannot result in an illegal army list.
            
            <strong>Theme Forces: Tier [X] Required - </strong>Players must use a Theme Force of Tier X or higher in all lists. Models and units with FA C can be included in more than one list (if they are included in more than one Theme Force).
            
            <h5>2. Painting variants</h5>
            <strong>BASELINE – Painted armies are not required. Basic Painting Required - </strong>All models must be primed and basecoated. Players must present the intended final color scheme on all parts of the model. Bases can be unfinished.
            <strong>Hardcore Painting Required - </strong>For Hardcore tournaments, all the Steamroller “Modeling and Painting” and “Conversions” rules apply. In addition, all models must be completely painted. This means that every model must be painted with a reasonable diversity of color and that individual elements of the model must be distinguishable by color or shading. For instance, flesh must be a different color than hair or clothing, and metal must be a different color than leather. The base is part of the model, so don’t neglect it! Bases must be finished with sand or flock or otherwise modeled and painted.
            Models that do not meet these requirements are not eligible for play. Whether a model is completed is the decision of the EO. As a general rule, if a player feels the need to justify why a model is completed, it probably isn’t. In order to be eligible for any prizes awarded based on quality and technique, the owning players must paint all presented models themselves. 
            
            <h5>3. Number of Rounds Variants</h5>
            <strong>BASELINE - </strong>All players participate in every round. Players play the number of rounds required to determine a clear winner.
            <strong>[X] Round Event - </strong>This tournament will have no more than X rounds regardless of the number of players. This type of event can end before X rounds if there is one player with more tournament points than any other player at the end of a round.
            
            <h5>4. Game Timing Variants</h5>
            <strong>BASELINE - </strong>Basic round times are randomly decreased or increased by a variable (d3 × extension length) that is not revealed to players. During each game, one turn extension is allowed for each player. Dice down is called when round time is complete.
            <strong>Casual Time Limits - </strong>Use the baseline round, turn, and extension length of an event one point size higher.
            <strong>Death Clock - </strong>Dice down is not called. Instead of timing each turn, chess clocks are used. A clock with a player’s total time (player clock, as shown in the table below) replaces individual turn lengths, and the sum of both player clocks determines the expected end time for each round. 
            
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Event Point Size </th>
                    <th>Player Clock</th>
                    <th>Reinforcements Player Clock</th>
                </tr>
                <tr>
                    <td>15</td>
                    <td>20</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>30</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>42</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>60</td>
                    <td>65</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>70</td>
                    <td>81</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>90</td>
                    <td>105</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>120</td>
                    <td>140</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>150</td>
                    <td>175</td>
                </tr>
            </table>
            When army lists and deployment order for all games are determined, both players can place their selected armies on the table outside their respective deployment zones. Upon notification by the EO the first player starts his clock and begins pre-deployment is complete he taps his clock to the second player who completes his pre-deployment. All phases of deployment are completed in this manner until the second player's advanced deployment is complete. At this time the second player taps his clock and the first player's turn begins. 
            
            When first players begin pre-deployment, the judge records the expected end time for the round based on the sum of both player clocks. In order to maintain the event schedule, players cannot pause the chess clock at any time. If a judge’s call is required, the judge, at his own discretion, can pause the chess clock when he arrives at the table. If the judge pauses the clock, he restarts it when his call is complete. A player who pauses his chess clock receives one warning. Upon a second infraction he loses the game. 
            A player must activate all his models each turn or risk disqualification. Declaring that a model or unit sacrifices its movement and action is acceptable. When a player moves a model, rolls dice, marks damage, or takes time to make decisions during the other player’s turn, the player whose turn it is has the option of switching the clock to his opponent’s time while these actions are resolved. This rule is present for the sake of time equity versus action and should not be abused. A player should call a judge if he is concerned about an opponent’s use of this rule.
            
            When scenario win conditions are met, a player can end his turn without activating any other models. If a player’s clock runs out, he loses the game and the loss is scored as an assassination victory using current table conditions. When the expected end time for the round arrives, the judge checks on all remaining active games. Games with less than 5 minutes combined on both player clocks are played to completion. Games with more than 5 minutes combined on both player clocks are declared a draw. 
            
            <strong>Frenzy Time Limits - </strong>Use the baseline round, turn, and extension length of an event two point sizes lower. 
            <strong>Hardcore Time Limits - </strong>Use the baseline round, turn, and extension length of an event one point size lower. 
            <strong>No Extensions – The allowance of one turn extension per game is removed. No Time Limits - </strong>Games are untimed. A round continues until all players have completed their games. 
            <strong>Relaxed Time Limits - </strong>Use the baseline round, turn, and extension length of an event two point sizes higher
            
            5. scenario variants
            <strong>BASELINE - </strong>For each round, the EO selects a scenario that all players will play. The EO keeps scenarios secret until the start of each round.
            <strong>Kill Box: YES - </strong>The Kill Box rule is in effect for all scenarios played at the event.
            <strong>Reinforcements - </strong>All scenarios use flank deployment as shown in the diagram below. Recommended scenarios are Close Quarters, Incoming, Outflank, Rally Point, and Fire Support. Theme Force bonuses do not alter the width of flank deployment zones.
            
            <img class="img-thumbnail" src="http://sr20x.com/static/img/2014-Standard-Refrence-Reinforcements-map.png"></img>
            
            When reinforcements are in use, base round times are adjusted as shown in the table below. Additionally, each player is granted a second extension. The second extension is of the same duration as a normal extension and cannot be combined with another extension on the same turn.
            
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Event Point Size</th>
                    <th>Reinforcements Size</th>
                    <th>Reinforcements Round Base Length (minutes)</th>
                    <th>Turn Length (minutes)</th>
                    <th>Extension Length (minutes)</th>
                </tr>
                <tr>
                    <td>25</td>
                    <td>5</td>
                    <td>50</td>
                    <td>5</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>10</td>
                    <td>70</td>
                    <td>7</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>10</td>
                    <td>110</td>
                    <td>10</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>15</td>
                    <td>130</td>
                    <td>12</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>15</td>
                    <td>160</td>
                    <td>15</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>25</td>
                    <td>210</td>
                    <td>20</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>25</td>
                    <td>260</td>
                    <td>25</td>
                    <td>5</td>
                </tr>
                
            </table>
            Reinforcement models and units must follow field allowance rules for their corresponding list. A model or unit’s FA cannot be split between the main list and its reinforcements section. All model relationships determined by the player (attached, marshaled, etc.) must be clearly identified. Reinforcements must follow the restrictions of any Theme Force to which they are added and benefit from any applicable bonuses (including FA) but are not counted toward satisfying tier requirements.
            
            Warcasters, warlocks, models and units with the predeployment or attached rule, and models and units that cannot begin the game in play cannot be reinforcements. Reinforcement models cannot be sleected for a warcaster's warkack bond or a warlock's warbeast bond. Reinforcements lose the Ambush ability. Reinforcements with the prey ability choose their Prey targets after both players are deployed
            
            In this scenario, during the Maintenance Phase on a player’s second turn or later, reinforcement models can be placed within 3˝ of any point on the reinforcements line shown in the flank deployment diagram. All of a player’s reinforcements must be placed on the same turn.
            
            If a warjack controlled by a warcaster is a reinforcement model, it is allocated 3 free focus points during the focus allocation step of the Control Phase following its placement as a reinforcement. A reinforcement warjack still cannot exceed the normal focus allocation limit. If a warbeast controlled by a warlock is a reinforcement model, it can be forced while outside its controlling warlock’s control area on the turn following its placement as a reinforcement. 
            
            <strong>Scenario(s) [X] - </strong>The scenarios to be played at the event are revealed to all players prior to the event. This information can also include the order in which the scenarios will be played.
            
            <h5>6. Victory Variants</h5>
            <strong>BASELINE - </strong>Assassination victory, scenario victory, control points tiebreaker (2nd), army points remaining tiebreaker (3rd), and army points destroyed tiebreaker (4th).
            <strong>Mangled Metal - </strong>In this event, in addition to normal victory conditions, a player wins a game when all enemy warjacks and warbeasts are destroyed or removed from play.
            <strong>No Assassination Victory - </strong>This event does not use assassination victory as a scenario win condition. When a warcaster or warlock is destroyed, the game continues until a scenario victory is achieved or one player has no models remaining.
            <strong>No Tiebreakers - </strong>This event does not use tiebreakers. If time expires the game is a tie.
            
            <h5>7. Final Standings Variants</h5>
            <strong>BASELINE - </strong>If there is no clear winner at the end of the tournament, break the tie based first on strength of schedule, then on control points, then on army points destroyed.
            <strong>Assassin Scoring - </strong>If there is no clear winner at the end of a tournament, break the tie based first on the number of assassination victories, then on control points.
            <strong>Control Point Scoring - </strong>If there is no clear winner at the end of a tournament, break the tie based first on control points, then on army points destroyed or removed from play, then on strength of schedule
            <strong>Destruction Scoring - </strong>If there is no clear winner at the end of a tournament, break the tie based first on the total number of enemy army points destroyed or removed from play, then on control points, then on strength of schedule. Points are scored each time a model or unit is destroyed or removed from play. For example, if Thagrosh, Prophet of Everblight returned a Scythean to play using Dark Revival, the opponent earns 9 points for each time he destroyed the warbeast. 
            
            When calculating model values, use the values printed on the model/unit’s card even if that model/unit was brought into the army via other means (such as Dark Industries) or received a discount during army building (such as the Call of the Wild Tier 4 Theme Force benefit).
            When counting army points destroyed or removed from play each round, use the following methods:
            <ul>
                <li>Models and units that were destroyed or removed from play are worth their army point value.
                <li>Units below 50% of their starting number (rounding up) are worth 50% of their army points (rounding up) including all attachments.
                <li>Warcasters and warlocks are worth 5 army points each. Non-warcaster, non-warlock models included with warcasters and warlocks have no additional value.
                <li>Inert warjacks and wild warbeasts are worth their full army point values.
            </ul>
            
            <strong>Finals Tables - </strong>When creating match-ups for the final round of an event, the EO pairs the current top four players on two "Finals Tables". The first finals table matches the current first ranked player against the current second-ranked player. The second finals table matches the current third-ranked player against the current fourth-ranked player 
            The winner of the first finals table wins the event, and his opponent wins second place. The winner of the second finals table wins third place. Standings beyond third place are calculated using strength of schedule, followed by control points in the case of a tie.
            
            The Finals Table variant should be used only in events that are planned for the number of rounds recommended in the SR2014 rules based on player attendance, and it cannot be combined with any other final standing variant. note that this is not a preferred variant, as it places the luck of the draw (as to when someone lost to the champion) above game-related scoring metrics such as opponent difficulty, control 
            points, army points, and assassination.
            
            <strong>Large-Event Scoring - </strong>In larger events, players dropping out of the tournament adversely affect their opponents’ strength of schedule. If there is no clear winner at the end of an event using large-event scoring, count the tournament points scored divided by the number of games played by each opponent of the tied players. For an opponent who did not score any tournament points, use a value equal to 1 divided by the total number of rounds in the event.
            For example, after four rounds Jason and Doug are tied for second place. To break the tie, the EO adds up the tournament points and divides by the number of games played by Jason’s opponents during the previous four rounds. The EO does the same for Doug’s opponents and compares the total to break the tie.
            The player whose opponents have the highest total score has the best strength of schedule and earns the higher rank. If strength of schedule is the same for both players, break the tie based on control points and then army points as normal.
    </div>
</div>
