<% content_for :title do %>
Steamroller 2014 Scenario Reference Sheet
<% end %>

<div class="row">
	<div class="span12">
        <%= link_to 'Steamroller 2014', page_path('2014/standard') %> > Steamroller 2014 Standard Refrence Sheet
	</div>
</div>
<div class="row">
    <div class="span2">
          <%= render 'pages/2014/navigation' %>
    </div>
    <div class="span10">
            <h4>Deployment</h4>
            <p>Refer to the diagram in each scenario to set up a game. Each player’s table edge, deployment zone, objectives (circles), flags (triangles), and zones are highlighted in that player’s corresponding color (P1 = red, P2 = blue). Flags, zones, and objectives are identified as friendly Faction or enemy in the scenario rules. When using scenarios with non-symmetrical scenario elements, the orientation of scenario elements does not change based on player order or selection of table edges.
            <h4>Scenario Elements</h4>
            <p>Zones, flags, and objectives.
            <h4>Starting Number</h4>
            <p>The number of models that a model or unit starts with based on the point cost paid. Models and units that are discounted due to Theme Force rules always use their card’s listed point cost and model count for 3rd/4th tiebreaker scoring. Models that are added to an army list for free also use the card’s point cost and model count for 3rd/4th tiebreaker scoring.
            <h4>Own</h4>
            <p>Players own the models in their fielded army list and any models created by abilities of models in the army list. 
            <h4>Contest</h4>
            <p>A player must control at least one model within a zone or within 4" of a flag or an objective to contest that zone, flag, or objective. Enemy objectives contest zones that they are within and flags and other objectives within 4". A player can measure 4" from a flag or objective at any time during his own turn. Warcasters, Warlocks, inert Warjacks, wild Warbeasts, models that are fleeing, and models that are out of formation cannot contest. Enemy objectives cannot contest themselves.
            <h4>Control</h4>
            <p>A player cannot control a zone or flag that he dominates. See zone and flag descriptions for specific control requirements.
            <h4>Dominate</h4>
            <p>A player dominates a zone if he owns one or more Warcaster or Warlock models within it and no opponent contests it. A player dominates a flag if he owns one or more Warcaster or Warlock models B2B with the flag and no opponent contests it.
            <p>When a Warcaster or Warlock can dominate more than one scenario element, the active player must choose one to dominate. When two or more Warcasters/Warlocks can dominate the same zone or flag, only the active player’s Warcaster/Warlock dominates.
            <h4>Zone</h4>
            <p>A player controls a zone if he owns one or more models within it that are not immobile, fleeing, wild, or inert and no opponent contests it. There are no additional requirements for solos, Warjacks, or Warbeasts. For a non-Warcaster/Warlock unit to control a zone, the unit must contain 50% or more of its starting number (rounding up) and all those remaining models must be within the same zone.
            <h4>Flag (40 mm base)</h4>
            <p>All flags are non-friendly, non-enemy models. They are incorporeal and stationary. Flags do not activate and cannot be targeted, damaged, moved, placed, or removed from play. 
            <p>A player controls a flag if he owns one or more models B2B with the flag that are not immobile, fleeing, wild, or inert and no opponent contests it. There are no additional requirements for solos, Warjacks, or Warbeasts. 
            <p>If a model B2B with a flag is a member of a non-Warcaster/ Warlock unit, the unit must contain 50% or more of its starting number (rounding up) and all those remaining models must also be within 4" of the flag.
            <h4>Objective (50 mm base)</h4>
            <p>Objectives are a model type used only in scenarios. The rules for these models appear on their corresponding objective cards. 
            <p>Continuous effects on objectives are resolved on the first player’s turn when that objective is enemy to all other models. Only the player who made the attack (or caused the continuous effect) that destroys an objective (when that objective is enemy to all other models) earns the corresponding control points for its destruction.
            <h4>Warcaster/Warlock Units</h4>
            <p>A Warcaster or Warlock that is a member of a unit can dominate like any other Warcaster or Warlock in accordance with the scenario element guidelines. Members of a unit that contains a Warcaster or Warlock cannot control, but they can contest. 
            <h4>Kill box</h4>
            <p>Starting on the first player’s second turn, if a player ends his own turn with a friendly Warcaster or Warlock completely within 14" of any table edge, his opponent immediately scores 2 control points. A player can measure 14" from any table edge during his Warcaster/Warlock’s activation.
            <h4>Assassination Victory</h4>
            <p>When only one player owns a Warcaster or Warlock remaining in play, that player immediately wins the game. Conduct control point scoring upon an assassination victory. This scoring does not change game results (i.e., it cannot lead to a scenario victory) but it does affect the scoring of the game. If all Warcasters/ Warlocks are simultaneously destroyed, the game ends and victory is determined using tiebreakers. Additionally, count army points destroyed in accordance with the 4th tiebreaker.
            <h4>Scenario Victory</h4>
            <p>When a player has fulfilled the victory conditions described in the scenario, that player immediately wins the game. Additionally, count army points destroyed in accordance with the 4th tiebreaker.
            <h4>1st tiebreaker: Warcasters/Warlocks remaining</h4>
            <p>If time runs out before a player has won the game, the player who owns the most Warcasters/Warlocks remaining in play wins the game. If both players own the same number of Warcasters/Warlocks in play, use the 2nd tiebreaker to determine the winner.
            <h4>2nd Tiebreaker: Control Points</h4>
            <p>The player who has the most control points wins the game. If both players have the same number of control points, use the 3rd tiebreaker to determine the winner.
            <h4>3rd Tiebreaker: Army Points Remaining</h4>
            <p>Tally the point cost of the remaining models and units owned by each player. Double the value of non-Warcaster/Warlock models and units (rounded up) within the areas designated by the scenario. Ignore models without a PC, inert Warjacks, wild Warbeasts, and fleeing models. The player with more army points worth of models remaining wins the game.
            <p>When calculating model value, use the values printed on the model/unit’s card even if that model/unit was created during the game (e.g., Prime Axiom Servitors) or received a discount during army building (e.g., the Call of the Wild Tier 4 Theme Force benefit).
            <p>Warcasters/Warlocks: 5 points for each Warcaster/Warlock regardless of Warjack/Warbeast bonus points. Warcasters/ Warlocks consisting of multiple models with the Warcaster/ Warlock type are worth only 5 points regardless of the number of models remaining. Models automatically included with the Warcaster/Warlock without the Warcaster/Warlock subtype do not affect Warcaster/Warlock scoring. 
            <p>Warjacks/Warbeasts: Points equal to the army point cost of the model.
            <p>Units and Unit Attachments: Points equal to the unit’s army point cost. Ignore units that have fewer than 50% (rounding up) of their starting number remaining in play. For doubling purposes all the remaining models must be within the designated area.
            <p>Models with the Attachment ability add to the unit’s value and also add to the number of models needed to meet the 50% requirement. For example, ten Long Gunners need five or more models in play to be worth 10 points, and twelve Long Gunners (including their unit attachment) need six or more models to be worth 12 points. 
            <p>Solos: Points equal to the army point cost of the model. Ignore multiple-model solos that have fewer than 50% (rounding up) of their starting number remaining in play. For doubling purposes all the remaining models must be within the designated area. For example, at least three out of five Whelps must remain and all must be within the designated area.
            <p>Exception: Feralgeist – If controlling a friendly Warbeast, use the Warbeast’s point cost. If controlling an enemy Warbeast, place Feralgeist in B2B contact with the controlled Warbeast, using the rule of least disturbance (WARMACHINE: Prime Mk II, p. 64) if necessary, then remove the Warbeast from play.
            <p>Exception: Machine Wraith – If controlling a friendly Warjack, use the Warjack’s point cost. If controlling an enemy Warjack, place Machine Wraith in B2B contact with the controlled Warjack, using the rule of least disturbance (WARMACHINE: Prime Mk II, p. 64) if necessary.
            <h4>4th tiebreaker: Army Points Destroyed</h4>
            <p>Tally each player’s army points that have been destroyed or removed from play as described below. The player who suffered fewer army points destroyed or removed from play wins the game. If both players have destroyed the same number of army points the game is a tie.
            <ul>    
                <li>Models and units are worth their army point value.</li>
                <li>Non-Warcaster/Warlock units below 50% of their starting number (rounding up) are worth 50% of their army points (rounding up) including all attachments.</li>
                <li>Inert Warjacks and wild Warbeasts are worth their full army point value.</li>
                <li>Warcasters and Warlocks are worth 5 army points each.</li>
                <li>If a list contains two or more multiple-model solos, all casualties are counted toward the same solo until it is completely destroyed.</li>
            </ul>   
            
            <p>Points are scored each time a model or unit is destroyed. For example, if Thagrosh, Prophet of Everblight returned a Scythean to play using Dark Revival, the opponent earns 9 points for each time he destroyed the Warbeast. 
            <p>When calculating model value, use the values printed on the model/unit’s card even if that model/unit was created during the game or received a discount during army building.
    </div>
</div>
