<% content_for :title do %>
Steamroller 2014 Standard Packet Rules
<% end %>

<div class="row">
	<div class="span12">
        Steamroller 2014
	</div>
</div>
<div class="row">
    <div class="span2">
          <%= render 'pages/2014/navigation' %>
    </div>
    <div class="span10">
<h3>Scenario Reference</h3>
<p>In Steamroller tournaments, players face off in a series of WARMACHINE and HORDES games and pit their skills against a gauntlet of opponents to determine who will emerge victorious.Steamroller is ideal for groups of 8 to 128 players and promotes fast and furious play while stressing the ability to adapt to a variety of scenarios.

<h5>Player responsibilities logistics</h5>
<p>Players participating in a Steamroller 2014 (SR2014) event must bring all their own models, stat cards, dice, measuring devices, markers, tokens, and templates required for play. Players must place appropriately sized templates on the affected area of the table to represent AOE effects and any terrain that their army generates. (This does not include CMD or CTRL area effects and terrain.) Tokens representing in-game effects such as focus, fury, spells, and abilities are required and must be placed next to the affected model(s). If a token or template is not present, the effect is not present. Players can use the AOE and effect markers provided at http://privateerpress.com/organized-play/armory. 
<p>Players can also use the War Room application during SR2014 events. When using War Room during an event a player can: mark damage on War Room cards instead of physical stat cards; reference model and game rules from War Room instead of physical stat cards or rulebooks; and show Event Organizers (EOs) and opponents a Theme Force’s rules on War Room. Players must still share their model stats, damage, and so on with their opponent whether or not that opponent has War Room. If a player’s War Room device fails during a game and the information cannot be recovered in a timely manner, the player concedes that game. 

<h5>Army Lists</h5>
<p>Players must bring two copies of their army list(s), complete with point costs. Army list point totals cannot exceed the point size chosen for the game and cannot be more than 2 points under that point size (including warjack/warbeast points). For example, a 50-point Kaelyssa army must include 55 to 57 points of models.

<p>Players can bring a second army list if they choose. All lists must be led by warcasters or warlocks from the same faction. Mercenary players can use different contracts or Theme Forces for their lists. Minion players can use different pacts or Theme Forces for their lists. Players cannot include the same version of a model or unit with FA C in more than one list. The original and epic incarnation(s) of a character do not count as the same version of a model. Any player-determined model relationships (attached, client, marshaled, etc.) must be specified in the list and cannot change between rounds.

<p>SR2014 allows all released Theme Forces to be used. Players using a Theme Force must have the Theme Force available for the EO’s reference (in order to verify the army list) and for the opponent’s reference (in order to view the Theme Force’s special rules). Permission is hereby granted to photocopy the Theme Forces section from the WARMACHINE and HORDES expansion books, as well as any Theme Forces appearing in No Quarter magazine, for personal, non-commercial use only and subject to the terms found within those original source materials.

<h5>Modeling and Painting</h5>

<p>Privateer Press encourages players to have a fully painted force on the table. Games with painted armies are more interesting to watch and generally enhance the experience for all. Although painting is not required, players are encouraged to show off all aspects of the hobby

<p>All models used in Privateer Press organized play events  must be Privateer Press miniatures from the WARMACHINE  or HORDES lines. The miniatures must be fully assembled  on the appropriately sized base for which the model was  designed. Any non–Privateer Press models, unassembled  miniatures, or inappropriately based models are not  permitted. 

<p>Models that have not yet been released to the general public  at the time of the event are not permitted, unless those models  are readily available at the event venue (such as convention release models in tournaments at that convention). The Extreme version of models are acceptable for use in organized play.  

<p>The promotional miniatures listed in the table below are legal  substitutes for the corresponding standard miniatures. 

<table class="table table-striped table-condensed">
    <tr>
        <th>Promotional Miniature</th>
        <th>Standard Miniature</th>
    </tr>
    <tr>
        <td>Druid Gone Wilder</td>
        <td>Circle Orboros Druid Wilder solo</td>
    </tr>
    <tr>
        <td>Bombardier Bombshell</td>
        <td>Khador Man-O-War Bombardier trooper model</td>
    </tr>
    <tr>
        <td>Steelsoul Keg Protector</td>
        <td>Convergence of Cyriss Steelsoul Protector solo</td>
    </tr>
    <tr>
        <td>Gorman di “Sea” Wulfe Volunteer Exclusive</td>
        <td>Gorman di Wulfe solo</td>
    </tr>
</table>    

<p>To use these promotional miniatures, the player must provide the standard miniature’s stat card so that both players can see the corresponding stats and abilities. Additionally, the player’s unit must clearly show which model is the Unit Commander. For example, a player could replace multiple models in his original Man-O-War Bombardier unit with Bombardier Bombshell models, including the leader, as long as he clearly indicates which model is the Unit Commander.

<h5>Model Conversions</h5>
<p>Players must be unambiguous about model representation. The following rules must be followed when using converted models in organized play. These rules are meant not to limit a player’s modeling options but rather to allow creativity without generating an environment that could become confusing during game play. At his discretion, an EO can make exceptions to these rules to approve any reasonable conversion.

<p>A converted model must contain a majority of parts from the WARMACHINE or HORDES model for which the rules were written. For example, a Testament of Menoth conversion must be composed mostly of parts from the Testament of Menoth model. The end result of any conversion must be clearly identifiable as the intended miniature and must accurately represent its weapons and equipment as listed in its rules. Any conversions must be clearly pointed out to the opponent before the game to avoid confusion.

<p>On warrior models, converting and swapping weapons is acceptable as long as the new weapon represents the same type of weapon as the one replaced (such as swapping one sword for another). Any feature relating to a weapon’s specific rules must be maintained to avoid confusion on the tabletop. For example, a weapon with Chain Weapon must still be modeled as a chain-style weapon, and a weapon’s length must be comparable when converting weapons with Reach.

<p>Weapons cannot be swapped on warjack and warbeast models. Since many of the ’jacks utilize the same chassis and many of the beasts utilize the same torso, the weapons are the most identifiable part of the model when looking across the tabletop. Converting warjacks and warbeasts is still encouraged, but the aesthetics of the weapons must be maintained. Modifying weapons is permitted as long as the end result is easily identifiable as the intended warjack’s or warbeast’s proper weapon.

<p>Models and units with available upgrade kits are an exception to the standard model conversion rules in three ways. First, because upgrades define an entirely separate set of stats and abilities, these parts must be clearly visible on the model or unit matching the upgrade stat card. For example, a helljack with one claw and one harpoon is not Malice; the model must have the correct head, harpoon blade, and all three spirit parts from the Malice upgrade in order to be considered Malice.

<p>Second, once a model or unit has been converted, it can only be fielded as that model or unit. For example, a Warpwolf with the parts from the Ghetorix upgrade is not an acceptable conversion for use with a Warpwolf Stalker stat card.

<p>Third, in the case of a unit attachment or weapon attachment upgrade, the model(s) that use the upgrade stat card must follow these rules, but the base unit follows the standard conversion policy for warrior model conversions described above. For example, a Black Dragon Officer & Standard must always use the Black Dragon upgrade stat card and an Iron Fang Pikemen Officer & Standard must always use the Iron Fang Pikemen Officer & Standard stat card, but an Iron Fang Pikemen unit without a unit attachment uses its standard stat card whether or not they have Black Dragon shields (or any other reasonable conversion).

<p>Miniatures must be on appropriately sized WARMACHINE or HORDES bases, but scenic details can be added. The base’s perimeter must always be considered when modeling scenic details. While it is acceptable for scenic elements to overhang the base’s edge, the base itself is used for all measurements, not the scenic elements. The edge of a model’s base must not be obscured to the point that accurate measuring becomes difficult or impossible.

<h5>Sportsmanship</h5>
<p>A fair and honest in-game environment is required in order for everyone to have fun. Players must accurately execute the rules of the game and fully cooperate with opponents to honestly answer any questions that arise before and during the game. Players are also responsible for holding their opponents to the same standards.

<p>The EO will not be able to observe every game. If a player is made uncomfortable by something his opponent is doing— stalling, bending the rules, or outright cheating, for example— he should tell the opponent about it and explain what the opponent can do to remedy the situation in order to maintain a fair, honest, and fun in-game environment. If the behavior continues or a dispute arises, the players should call the EO and explain the situation. The EO always has the final word on rules questions or debates. Players must accept all rulings made by the EO whether or not they agree. Players must present a mature and polite demeanor to their opponents and the EO. Failure to do so will result in immediate disqualification. An EO can also disqualify a player for any incident that is deemed unsporting. This includes, but is not limited to, offensive or abusive conduct, bullying, cheating, constant rules arguments, improper play, stalling, and other inappropriate actions. Disqualified players are not eligible for any awards or prizes and are barred from further participation in the event and any other related events.

<p>Occasionally circumstances will prompt a player to concede a game during a tournament. Concessions are not recommended since there is almost always a chance for victory. In the case of a concession, the winning player is awarded a win, half the control points (rounding up) for a scenario win, and army points destroyed based on an assassination using current table conditions. The player who conceded receives a loss and no points in any category. An EO can disqualify a player from a tournament if a concession is deemed unsporting. 

<h4>Event Organizer Responsibilities</h4>
<h5>logistics</h5>
<p>When estimating the overall length of a tournament, an EO should add extra time for each round to cover the variable (described under “Game Timing”), allow time to do pairings, get people to their new tables, and start the next round. The EO should ensure that all required materials for the planned scenarios are prepared ahead of time to avoid delays. 

<h5>Number of Rounds</h5>
<p>The event runs until one player has more tournament points than any other player at the end of a round. Once this condition is met, the event ends without additional games.

<p>Players participate in a timed format, with all players participating in every round. The number of players participating in the tournament determines the maximum number of games usually required to determine a winner, as shown in the table below

<table class="table table-striped table-condensed">
    <tr>
        <th>Players</th>
        <th>Rounds</th>
    </tr>
    <tr>
        <td>8 or fewer</td>
        <td>3-round event</td>
    </tr>
    <tr>
        <td>9 to 16</td>
        <td>4-round event</td>
    </tr>
    <tr>
        <td>16 to 32</td>
        <td>5-round event</td>
    </tr>
    <tr>
        <td>33 to 64</td>
        <td>6-round event</td>
    </tr>
    <tr>
        <td>65 to 128</td>
        <td>7-round event</td>
    </tr>
</table>
 
<h5>First-Round Pairings</h5>
<p>Shuffle all the tournament record sheets together. Take the top two sheets and set them aside as the first pairing. Without shuffling the pile again, remove the next two sheets as the second pairing, and repeat the process until all players have an opponent. If there is an odd number of players, see “Byes and Odd Number of Players” below. Once the pairings are completed, note the opposing player’s name on each player’s sheet to track that player’s opponents. Record the tournament points (1 for a win, 0 for a loss or tie), control points, and army points destroyed for each player when the round ends.

<h5>Subsequent Pairings</h5>
<p>After the first round, all pairings and ranks are based on tournament point subtotals and pairings from previous rounds. After all games in the previous round have been completed, sort the tournament record sheets into piles based on the number of tournament points. Shuffle each pile.

<p>Take the top sheet of the pile with the greatest number of tournament points and choose the first opponent in the pile whom he has not already played. Set this pair aside and repeat the process. When the first pile is done, move to the next pile. If a pile has an odd number of players, pair the last player against someone from the pile with the next-highest tournament points. Do not do this with any individual player more than once per event. Again, once all the pairings are completed, write the opposing player’s name in the appropriate column on each player’s sheet. It might take several attempts to find pairings that avoid duplicating match-ups.

<h5>Byes and Odd number of Players</h5>
<p>In the case of an odd number of players, one player receives a bye. A player who receives a bye does not play in the current round. Instead, he receives 1 tournament point, half the control points (rounded up) for a scenario win, and half the army point level (rounded up) for the event.

<p>In the first round, the EO randomly determines which player receives the bye. In subsequent rounds, the EO randomly selects a player from those with the lowest tournament point totals. The EO should ensure that the same player does not receive a bye more than once per event.

<h5>Game Timing</h5>
<p>Base round length, turn length, and extension length are determined by the point size of the event, as shown in the table on the following page.

<table class="table table-striped table-condensed">
    <tr>
        <th>Event Point Size</th>
        <th>Base Round Length(minutes)</th>
        <th>Turn Length (minutes)</th>
        <th>Extension Length (minutes)</th>
    </tr>
    <tr>
        <td>15</td>
        <td>30</td>
        <td>3</td>
        <td>-</td>
    </tr>
    <tr>
        <td>25</td>
        <td>50</td>
        <td>5</td>
        <td>-</td>
    </tr>
    <tr>
        <td>35</td>
        <td>70</td>
        <td>7</td>
        <td>5</td>
    </tr>
    <tr>
        <td>50</td>
        <td>100</td>
        <td>10</td>
        <td>5</td>
    </tr>
    <tr>
        <td>75</td>
        <td>120</td>
        <td>12</td>
        <td>5</td>
    </tr>
    <tr>
        <td>100</td>
        <td>150</td>
        <td>15</td>
        <td>5</td>
    </tr>
    <tr>
        <td>150</td>
        <td>200</td>
        <td>20</td>
        <td>5</td>
    </tr>
    <tr>
        <td>200</td>
        <td>250</td>
        <td>25</td>
        <td>5</td>
    </tr>
</table>

<p>Each round in a Steamroller event has a variable round length. Before each round begins, the EO rolls a d3 and multiplies the result by five; this result is the variable in minutes. He then rolls a d6 to determine whether the variable is subtracted from (on a result of 1–3) or added to (on a result of 4–6) the base round length shown above to determine the overall round length. The EO does not announce the result of this roll or reveal the amount of time remaining in a game to players. 

<table class="table table-striped table-condensed">
    <tr>
        <th>d6 Roll</th>
        <th>Overall Round Length</th>
    </tr>
    <tr>
        <td>1-3</td>
        <td>Subtract variable from base round length</td>
    </tr>
    <tr>
        <td>4-6</td>
        <td>Add variable to base round length</td>
    </tr>
</table>

<p>After the round time has expired, the EO calls “dice down.” If a player has already begun to physically move a model, he finishes movement for that model, then the turn and game end. If the player is in the process of making a roll of any kind, he completes that single roll, then the turn and game end. If the roll is an attack roll that directly hits its target, resolve the damage roll as well.

<p>At dice down, resolve all end-of-turn effects, including the removal of models if applicable. Models that have not yet entered play or were removed from the table do not enter play and do not count as destroyed. Dice down or assassination prompts a final iteration of scenario scoring even though the game is over. An assassination victory always takes priority over a scenario win. If a game does not have a clear winner after dice down, check the scenario for how to determine the winner.

<h5>Turn Timing</h5>
<p>Steamroller uses a timed turn length to ensure a fair play environment. Players in each game use a timer to track the fixed amount of time available for each turn. This time limit is based on the point size of the event. A player’s turn time begins after the resolution of continuous effects.

<p>If a player is moving a model when his turn time expires, he finishes moving that model, then his turn ends. If a player is in the process of making a roll of any kind after movement is complete, he completes that single roll, then his turn ends. If the roll is an attack roll that directly hits its target, resolve the damage roll as well.

<p>When a player moves a model, rolls dice, or takes time to make decisions during the other player’s turn, the player whose turn it is can choose to stop the clock while these actions are resolved.

<h5>Turn Extension</h5>

<p>Once per game, each player can extend his turn length with an extension. A player can extend his turn length by declaring he is doing so during his turn. After the current turn time expires, the active player’s opponent resets the clock for the turn extension, then the active player continues his turn. Extensions are 5 minutes long and apply only to events with a point size of 35 or greater. Extensions cannot extend a turn past total round time.

<h5>Scenario Selection</h5>

<p>Steamroller 2014 contains twelve scenarios. The EO chooses the scenarios and the order in which they are played. Alternately, the EO can use the random scenario table below to select scenarios (roll a d3 to determine the row, then roll a d6 twice to determine the scenario).

<img class="img-thumbnail" src="http://sr20x.com/static/img/2014-Standard-Refrence-Scenario-Select.png"></img>

<p>The EO should choose scenarios before a tournament to ensure he has the required materials for those scenarios. A scenario should not be repeated. All players play the same scenario each round, and the EO should not announce the scenario until the start of the round.

<p>During each round the EO should provide at least one copy of the scenario for every two tables in the event. The EO should answer questions concerning the scenario before the round begins. Players are responsible for making sure they understand the scenario. The EO should stress that it is important for all players to pursue both the scenario and assassination victory conditions during the game because they will not know when the round time is going to expire.

<h5>Terrain</h5>
<p>Terrain is a key element in WARMACHINE and HORDES games and should be relatively balanced on a table. Terrain pieces should present a choice for the player who wins the starting roll. For example, if one side of the table contains a forest, a hill, and a linear obstacle, the other side should contain terrain that provides concealment, elevation, and cover as well, but the terrain may be positioned in a more advantageous defensive position. 

<p>As a general rule, an average table should contain five to seven pieces of terrain placed closely enough to eliminate large open areas without unduly constricting movement. The size of terrain pieces is also important. No piece should be insignificantly small or extremely large; pieces from 4" to 7" in length and width are best.

<p>The exact type, number, and placement of terrain pieces are up to the EO, but the following guidelines must be followed when setting up tables:
<ul>
<li>Do not place terrain within deployment zones. This does not apply to Advance Deployment zones.</li>
<li>All terrain pieces must be placed at least 3" away from other terrain pieces. This includes terrain pieces or wreck markers granted by Theme Force bonuses.</li>
<li>Do not place obstructions or impassable terrain within zones, within 4" of flags, or within 4" of objectives. Note that all other terrain types can be placed within these areas.</li>
</ul>
<p>EOs can choose to fully represent the zones presented in the scenario packet with templates or to mark only the corners of rectangular zones and the center points of circular zones. If center or corner markers are used, players can measure the zone whenever it is relevant to fulfilling scenario conditions. Any attempted abuse of this rule is grounds for disqualification. If an objective, flag, or zone is inadvertently moved, pause the clock and reset the zone marker’s position. If scenario scoring occurred while a marker was in an incorrect position, the control points stand, even if the error is noticed after the fact.

<h5>Kill box</h5>
<p>Some scenarios use the Kill Box rule. The “Kill Box: YES” designation in a scenario means that starting on the first player’s second turn, if a player ends his own turn with a friendly warcaster or warlock completely within 14" of any table edge, his opponent immediately scores two control points. A player can measure 14" from any table edge during his warcaster or warlock’s activation. “Kill Box: NO” means that this rule is not in effect.

<h5>Starting the Game</h5>
<p>Players can ask to see their opponent’s lists at any time, including before list selection, before the start of the game, and during play. A player must take care not to disrupt the flow of the game while doing this. All models in each list must be presented to an opponent upon request before list selection.

<p>After the pairings and scenarios for the game have been announced but before the starting roll, each player secretly chooses one of his lists and conceals the card for the selected warcaster or warlock on the table. A player cannot change lists after making this selection. Both players simultaneously reveal their lists.

<p>Both players roll a d6 for the starting roll. The player with the higher result can choose to be the first or second player. The second player chooses his table edge. The first player deploys first and takes the first turn.

<h5>Game Results</h5>

<p>At the end of a game both players are required to enter the following information on their player record sheets. Each player records the name of his opponent, his result in the game (Win/Loss/Draw), the list he played, the number of control points he scored, and the number of the opponent’s army points that were destroyed. Calculate the number of army points destroyed using the 4th tiebreaker rules from the Scenario Reference Sheet. Keep in mind that battlegroup warjacks become inert and battlegroup warbeasts become wild upon the assassination of their controller and therefore count for the 4th tiebreaker total. Once this information is recorded report the results of the game to the EO. Note that when scoring the game, a player cannot earn more control points than are required to win the scenario.

<h5>Final Standings</h5>
<p>Players score tournament points based on the outcome of each game. A player gains 1 tournament point for a win and 0 for a loss or draw. Tournament points determine a player’s current standing in a tournament.

<p>In the case of two players with the same number of tournament points, determine which one ranks higher by calculating strength of schedule. To do this, count the tournament points scored by each opponent of the tied players. The player whose opponents have the highest total score has the best strength of schedule score and earns the higher rank. If strength of schedule is the same for both players, the player who accrued the most control points throughout the tournament earns the higher rank. If control points are also the same for both players, the player who accrued the most enemy army points destroyed throughout the tournament earns the higher rank. 
</div>
</div>
