<% content_for :title do %>
Caster Index
<% end %>
<div class="row">
	<div class="span12">
		Casters > 
	</div>
</div>

<h3>Casters Index</h3>

<div class="row">
	<div class="span5"><h4>Caster</h4></div>
	<div class="span4"><h4>Faction</h4></div>
	<!--<div class="span2"><h2>Map</h2></div>-->
</div>
<% @casters.each do |caster| %>
<div class="row">
		<div class="span5">
				<h5><%= link_to caster.title,caster_path(caster.id) %></h5>
		</div>	
		<div class="span4">
			<%= Faction.find(caster.faction_id).title %>
		</div>
</div>
<% end %>
