<% content_for :title do %>
Add New Caster
<% end %>
<div class="row">
	<div class="span12">
		<%= link_to 'Casters', Caster %> > New Caster
	</div>
</div>

<h3>Add New Caster</h3>

<%= render 'form' %>

