<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Missions', Mission %></li>
<% if current_user.has_role?("admin") %>
	<li><%= link_to "Admin", User %> </li>
<% end %>
